# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
build
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these folders/files are created by PyInstaller
*.manifest
*.exe
*.dll
*.pyd

# Virtual environments
venv/
env/
.env/
ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs and databases
*.log
*.sqlite3
profiles

# Others
*.bak
*.swp
